// Font Families
$font-heading: 'Merriweather', serif;
$font-body: 'Nunito', sans-serif;

// Color Pallete
$dark-red: #800000;
$dark-green: #1F2F16;
$off-black: #171D1C;
$off-white: #F5F5F5;
$white: #eee;
$gray: #ced4da;
$white: #fff;

// Breakpoints 
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

